/* in app.component.css */
/* wrapperfor cards */
.gridblock {
  display: grid;
  padding: 12px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;

  .channel-icon {
    // background-image: url("../assets/avatar1.jpg");
    background-size: cover;
  }
}
